{
  "root": true,
  "extends": [ "eslint:recommended" ],
  "parserOptions": {
    "ecmaVersion": 2023
  },
  "plugins": ["jest"],
  "rules": {
    "no-constant-condition": ["error", { "checkLoops": false }],
    "eqeqeq": ["error", "always"],
    "no-console": "off",
    "no-empty": "off"
  },
  "env": {
    "jest/globals": true,
    "node": true,
    "mocha": true,
    "es2020": true
  }
}
